/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* Nav Bar */
nav {
    background-color: #3e1f5c; /* Violet Foncé */
    color: #fff;
    padding: 15px 30px;
    position: fixed; /* Fixe la barre de navigation en haut */
    top: 0;
    width: 100%;
    z-index: 1000; /* Pour s'assurer que la barre de nav reste au-dessus du contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline;
    white-space: nowrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f5a623; /* Or pour le survol */
    text-decoration: underline;
}

/* En-tête */
header {
    height: 100vh;
    background: linear-gradient(135deg, #3e1f5c, #6d28d9); /* Dégradé de Violet Foncé à Violet Clair */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 0; /* Assure qu'il n'y a pas d'espace entre la nav et le header */
}

/* Section d'introduction */
.intro {
    animation: fadeIn 1.5s ease-out;
    max-width: 100%;
    margin: auto;
    width: 100%;
    /* background: rgba(62, 31, 92, 0.5); Fond semi-transparent pour contraste */
    padding: 20px;
    border-radius: 8px;

}
@keyframes slideIn {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
.slide-in {
    animation: slideIn 2s ease-out forwards;
}
/* .glitch {
    font-size: 3em;
    position: relative;
    color: rgb(82, 3, 94);
    animation: glitch 2s infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px rgb(189, 8, 235);
    }
    50% {
        text-shadow: -2px -2px rgb(10, 10, 28);
    }
    100% {
        text-shadow: 2px 2px rgb(58, 6, 79);
    }
} */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* DEMO-SPECIFIC STYLES */
.typewriter {
    color: #fff;
    font-family: monospace;
    display: inline-block; /* S'assurer que l'élément occupe juste la largeur de son contenu */
    overflow: hidden; /* Cacher le texte au début */
    border-right: .15em solid rgb(97, 2, 108); /* Curseur */
    white-space: nowrap; /* Forcer tout le texte sur une ligne */
    letter-spacing: .15em; /* Espacement des lettres */
    animation: typing 2.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* Animation pour la saisie du texte */
@keyframes typing {
    from { width: 0; }
    to { width: 20ch; } /* On anime jusqu'à 100% de la longueur du texte */
}

/* Animation pour le clignotement du curseur */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(153, 62, 238); }
}
h1 {
    /* position: relative; */
    /* left: -100%; */
    /* opacity: 0; */
    font-size: 4rem;
    font-family: monospace;
    margin-bottom: 5rem;
    color: white;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombre portée légère pour effet de brillance */
    transition: transform 0.4s ease, color 0.4s ease;
}
header p{
    position:relative;
    left: -100%;
    opacity: 0;
    margin-bottom: 5rem;
    font-size: 2em;
}


h1:hover{
    transform: scale(1.05);

    color: #f5a623;
    cursor: pointer;
    text-shadow: #333 5px 5px 5px;
     /* Légère augmentation de la taille */}

p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.cta-button {
    background-color: #3e1f5c; /* Violet Foncé */
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

.cta-button:hover {
    background-color: #f5a623; /* Or */
    transform: scale(1.05); /* Légère augmentation de la taille */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre portée plus intense */
}

/* Sections */
.section {
    padding: 100px 0;
    text-align: center;
    margin-top: 0; /* Assure qu'il n'y a pas d'espace entre la nav et les sections */
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(30px);
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

/* About Section */
#about {
    background-color: #b39ddb; /* Violet Clair */
    padding: 80px 0;
}

#about p {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

#about p span:not(:last-child):after {
    content: "";
    display: block;
    width: 80px; /* Longueur de la ligne */
    height: 2px; /* Épaisseur de la ligne */
    margin: 20px auto; /* Centrer avec un espace vertical */
    background-color: #6d28d9; /* Couleur violet clair */
    transition: width 0.4s ease, background-color 0.4s ease; /* Transition douce pour l'effet */
}

#about p span:hover:after {
    width: 120px; /* Agrandir la ligne au survol */
    background-color: #3e1f5c; /* Changer la couleur au survol */
}



#about h2 {
    color: #333;
    font-size: 2.2rem;
    opacity: 1;
    transition: color 0.5s ease, transform 0.5s ease;
    padding-bottom: 30px;
}

#about:hover h2 {
    /* animation: aboutme 1s forwards; */
    color: #6d28d9;
    transform:scale(1.2) translateY(-20px);

}

    

/* Project Section */
.h2_projet{
    margin-bottom: 60px;
    font-size: 2em;
}
.projects {
    background-color: #f4f4f4; /* Fond neutre pour les projets */
    padding: 80px 0;
}

.project-grid {
    display: grid;
    grid-template-areas: 'case1 case2 case3';
    gap: 30px;
    margin: 0 50px;
}
.case1{grid-area: case1;}
.case2{grid-area: case2;}
.case3{grid-area: case3;}

.project {
    border-radius: 8px;
    background-color: #b39ddb;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.project h3{
    padding-top: 15px;
}

.project:hover h3{
color: #6d28d9;
transition: 200ms; 
}

.project img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
    
}

.project:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre portée plus intense au survol */
    transform: translateY(-5px); /* Légère élévation */
}

.project:hover img {
    transform: scale(1.05); /* Agrandissement de l'image au survol */
}

/* Formulaire de contact */
.contact {
    background-color: #b39ddb; /* Violet Clair */
    padding: 80px 0;
}
.contact h2{
    padding-bottom:60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    resize: none;
}

input:focus, textarea:focus {
    border-color: #3e1f5c; /* Bordure Violet Foncé au focus */
}

button {
    background-color: #3e1f5c; /* Violet Foncé */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

button:hover {
    background-color: #f5a623; /* Or */
    transform: scale(1.05); /* Augmentation de la taille au hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre portée plus intense */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3e1f5c; /* Violet Foncé */
    color: white;
}

/* Fixer la barre de navigation */
body {
    padding-top: 0; /* Assure qu'il n'y a pas d'espace entre la nav et le header */
}

@media (max-width:750px) {
    
     .typewriter {
        font-size: 2.5rem;
        letter-spacing: 0.1em;
        transition: 200ms;
      }
      header p{
        font-size: 1.5rem;
        transition: 200ms;
      }
      .project-grid {
        margin: 0;
        grid-template-rows:1fr 1fr 1fr;
        grid-template-areas: 'case1'
                            'case2'
                            'case3';
        gap: 20px;
        width: 100%;
        
    }

}

@media (max-width:629px) {
    .typewriter {
        font-size: 2rem;
        letter-spacing: 0.1em;
        transition: 200ms;
      }
      footer {
        text-align: center;
        padding: 20px 10px;
        background-color: #3e1f5c; /* Violet Foncé */
        color: white;
    }
    footer p{
        font-size: 1rem;
    }
    

}

@media (max-width:400px) {
    nav ul li a{
        font-size: 0.80rem;
    }
.intro h1{
    /* white-space: normal; */
    transition: 200ms;
    
}
footer p{
    font-size: 0.75rem;
}

}
@media (max-width:360px) {
    .intro h1{
        font-size: 1.5rem;
        transition: 200ms;
    }

    .intro p{
        font-size: 1rem;
        transition: 200ms;

    }
    nav ul {
        gap: 15px;
        transition: 200ms;
    }
    

}
@media screen and (max-height : 500px){

    .intro h1{
        margin-bottom: 1rem;
        transition: 200ms;
    }
    .intro p{
        transition: 200ms;
        margin-bottom: 1.5rem;
    }

}
